@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("eot/IRANSansWeb(FaNum)_Black.eot");
  src: url("eot/IRANSansWeb(FaNum)_Black.eot?#iefix")
      format("embedded-opentype"),
    url("woff2/IRANSansWeb(FaNum)_Black.woff2") format("woff2"),
    url("woff/IRANSansWeb(FaNum)_Black.woff") format("woff"),
    url("ttf/IRANSansWeb(FaNum)_Black.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("eot/IRANSansWeb(FaNum)_Bold.eot");
  src: url("eot/IRANSansWeb(FaNum)_Bold.eot?#iefix") format("embedded-opentype"),
    url("woff2/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
    url("woff/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
    url("ttf/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("eot/IRANSansWeb(FaNum)_Medium.eot");
  src: url("eot/IRANSansWeb(FaNum)_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("woff2/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"),
    url("woff/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
    url("ttf/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("eot/IRANSansWeb(FaNum)_Light.eot");
  src: url("eot/IRANSansWeb(FaNum)_Light.eot?#iefix")
      format("embedded-opentype"),
    url("woff2/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
    url("woff/IRANSansWeb(FaNum)_Light.woff") format("woff"),
    url("ttf/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("eot/IRANSansWeb(FaNum)_UltraLight.eot");
  src: url("eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("woff2/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2"),
    url("woff/IRANSansWeb(FaNum)_UltraLight.woff") format("woff"),
    url("ttf/IRANSansWeb(FaNum)_UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("eot/IRANSansWeb(FaNum).eot");
  src: url("eot/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"),
    url("woff2/IRANSansWeb(FaNum).woff2") format("woff2"),
    url("woff/IRANSansWeb(FaNum).woff") format("woff"),
    url("ttf/IRANSansWeb(FaNum).ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("eot/iranyekanwebboldfanum.eot");
  src: url("eot/iranyekanwebboldfanum.eot?#iefix") format("embedded-opentype"),
    url("woff/iranyekanwebboldfanum.woff") format("woff"),
    url("ttf/iranyekanwebboldfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("eot/iranyekanwebthinfanum.eot");
  src: url("eot/iranyekanwebthinfanum.eot?#iefix") format("embedded-opentype"),
    url("woff/iranyekanwebthinfanum.woff") format("woff"),
    url("ttf/iranyekanwebthinfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("eot/iranyekanweblightfanum.eot");
  src: url("eot/iranyekanweblightfanum.eot?#iefix") format("embedded-opentype"),
    url("woff/iranyekanweblightfanum.woff") format("woff"),
    url("ttf/iranyekanweblightfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("eot/iranyekanwebregularfanum.eot");
  src: url("eot/iranyekanwebregularfanum.eot?#iefix")
      format("embedded-opentype"),
    url("woff/iranyekanwebregularfanum.woff") format("woff"),
    url("ttf/iranyekanwebregularfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("eot/iranyekanwebmediumfanum.eot");
  src: url("eot/iranyekanwebmediumfanum.eot?#iefix") format("embedded-opentype"),
    url("woff/iranyekanwebmediumfanum.woff") format("woff"),
    url("ttf/iranyekanwebmediumfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("eot/iranyekanwebextraboldfanum.eot");
  src: url("eot/iranyekanwebextraboldfanum.eot?#iefix")
      format("embedded-opentype"),
    url("woff/iranyekanwebextraboldfanum.woff") format("woff"),
    url("ttf/iranyekanwebextraboldfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 850;
  src: url("eot/iranyekanwebblackfanum.eot");
  src: url("eot/iranyekanwebblackfanum.eot?#iefix") format("embedded-opentype"),
    url("woff/iranyekanwebblackfanum.woff") format("woff"),
    url("ttf/iranyekanwebblackfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("eot/iranyekanwebextrablackfanum.eot");
  src: url("eot/iranyekanwebextrablackfanum.eot?#iefix")
      format("embedded-opentype"),
    url("woff/iranyekanwebextrablackfanum.woff") format("woff"),
    url("ttf/iranyekanwebextrablackfanum.ttf") format("truetype");
}
