html {
    font-size: 14px;
}

body {
    font-family: IRANSans;
}

.bg-dark-1 {
    background: #313a46;
}

header {
    height: 70px;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

footer {
    height: 70px;
}

.lg-logo {
    top: 0;
    height: 70px;
    line-height: 70px;
}

.content {
    z-index: 0;
}

.button-menu-mobile{
    line-height: 70px;
    font-size: 22px;
}
/* *{
    scrollbar-width: thin;
}

*::-webkit-scrollbar{
    width: 8px;
}

*::-webkit-scrollbar-track{
    background: #282f38;
}

*::-webkit-scrollbar-thumb{
    background: #7c8086;
}

*::-webkit-scrollbar-thumb:hover{
    background: #555;
} */