html {
    font-size: 14px;
}

body {
    font-family: IRANSans;
}

.bg-dark-1 {
    background: #313a46;
}

header {
    height: 70px;
    background-color: #fff;
}

footer {
    height: 70px;
}

.max-vh-100{
    max-height: 100vh;
}
.lg-logo {
    top: 0;
    height: 70px;
    line-height: 70px;
}

.sidebar-scroll{
    max-height: calc(100vh - 70px);
}

.button-menu-mobile{
    line-height: 70px;
    font-size: 22px;
}
/* *{
    scrollbar-width: thin;
}

*::-webkit-scrollbar{
    width: 8px;
}

*::-webkit-scrollbar-track{
    background: #282f38;
}

*::-webkit-scrollbar-thumb{
    background: #7c8086;
}

*::-webkit-scrollbar-thumb:hover{
    background: #555;
} */